<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні Роботи
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>
      Гнатюк Анна
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      КН-32 Варіант №7
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 class="task_h1">
        <span class="task_color">Батьківський клас: </span> Меблі (поле назва) <br>
        <span class="task_color">Нащадки: </span> Шафа (поле об‘єм V в см); Диван (поле площа S в см) <br>
          <span class="task_color">Методи: </span> Вартість меблів Шафа С = 75,0 * V; Диван С = S^2 / 3 + 5000 <br>
      </h1>

    </ion-card-content>
    <ion-card-content>
      <ion-input id="x" type="number" placeholder="10" [(ngModel)]="Inputx"></ion-input>
      <ion-button (click)="res(Inputx)" >Порахувати</ion-button>
      <p >{{getAverage()}}</p>
      <p *ngFor="let fur of furniture" >{{fur.show()}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
