<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторна робота 8
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>
      Гнатюк Анна
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      КН-32 Варіант №7
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-myform></app-myform>  -->
  <app-viewform> </app-viewform>
</ion-content>
