<app-my-header name="Лабораторна робота №11"></app-my-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 class="task_h1">
        Довідник театрів та список акторів
      </h1>
    </ion-card-content>


    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>Поточний театр:</ion-item>
            </ion-col>
            <ion-col>
              <ion-item>{{theat.name}}</ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-button (click)="nextTheat()" color="danger" expand="block">Наступний театр</ion-button>
  </ion-card>

  <ion-card>
    <ion-item *ngFor="let actor of actorList.searchActor; let j = index">
      <ion-item> {{actor.name}}</ion-item>
      <ion-item> {{actor.age}}</ion-item>
      <ion-item> {{actor.homecity}}</ion-item>
      <ion-item> {{actor.nationality}}</ion-item>
      <ion-item> {{actor.gender}}</ion-item>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Додати Театр
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label position="stacked">Введіть назву нового театру</ion-label>
      <ion-input #InputTheater></ion-input>
      <ion-button color="danger" expand="block" (click)="addTheat(InputTheater.value)">Додати театр</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Додати актора
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Введіть ПІБ</ion-label>
            <ion-input #InputName></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Введіть вік</ion-label>
            <ion-input #InputAge></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Введіть місто народження</ion-label>
            <ion-input #InputHomecity></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Введіть національність</ion-label>
            <ion-input #InputNationality></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked">Введіть гендер</ion-label>
            <ion-input #InputGender></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="danger" expand="block"
        (click)="addActor(InputName.value,InputAge.value,InputHomecity.value,InputNationality.value,InputGender.value)">
        Додати актора
      </ion-button>
    </ion-card-content>


  </ion-card>
</ion-content>
